header {
	color: purple;
	font-size: 60pt;
	font-family: Edwardian Script ITC, Georgia, serif;
	position:fixed;
	top: 0px;
	left:0px;
	background: #ccffff;
	width:100%;
	height: 100px;
	z-index: 10;
	}
body {
	background-color: #ccffff;
	}

nav {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: lightblue;
	size: 100%;
	position: fixed;
	top:100px;
	left:-5px;
	width:100%;
	z-index: 10;
}
nav li {
    display: inline;
    padding: 10px;
}

section {
	width: 20%;	
	float: left;
	position: relative;
	top: 130px;	
	left: -10px;
	height: 800px;
	background-color: lightblue;
	}
	
aside{
	position: relative;
	top:130px;
	width:80%;
	float: right;
	height: 800px;
	background-color:#ccffff;
	
	}

a:hover{
    background-color: #B20047;
    color: darkblue;
}
a:link {
    text-decoration: none;
}

footer {
	position: relative;
	left:-5px;
	top: 112px;
	width: 100%;
	clear: both;
	background-color: #EB99EB;
	z-index: 10;
	}