
h1, h2 {
	font-family: Edwardian Script ITC;
	color: darkblue;
}

li#Important {
	Background: Red;
	Font-weight: bold;
	font-family: Helvetica;
}
li#Medium {
	background: Yellow;
	Font-family: Helvetica;
}

li#Low {
	background: green;
	Font-family: Helvetica;
}
