
h1, h2 {
	font-family: Edwardian Script ITC;
	color: darkblue;
}
h1 {
	font-size: 60pt;
	}
body {
	background-color: #CC99FF;
	}

li#Important {
	Background: Red;
	Font-weight: bold;
	font-family: Helvetica;
}
li#Medium {
	background: #FFFF33;
	Font-family: Helvetica;
}

li#Low {
	background: #00CED1;
	Font-family: Helvetica;
}
p {
	font-family: Helvetica;
	}
