
h1, h2 {
	font-family: Edwardian Script ITC;
	color: darkblue;
}
h1 {
	font-size: 50pt;
	}
h2 {
	Font-size: 35pt;
	}

body {
	background-color: #CC99FF;
	}
ul {
	list-style:none;
	width: 400px;
	padding: px;
	margin: 2px;
	}

.high {
	Background: Red;
	Font-weight: bold;
	font-family: Helvetica;
}
.medium {
	background: #FFFF33;
	Font-family: Helvetica;
}

.low {
	background: #00CED1;
	Font-family: Helvetica;
}
p {
	font-family: Helvetica;
	}
.done {
	text-decoration: line-through;
	}